---
import BlogList from "../components/BlogList.astro";
import ContactMe from "../components/ContactMe.astro";
import PersonalBio from "../components/PersonalBio.astro";
import ProjectList from "../components/ProjectList.astro";
import SectionBreak from "../components/SectionBreak.astro";
import Subheading from "../components/Subheading.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import TwitterIcon from "../components/icons/TwitterIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jack - Software Developer">
  <div class="animate-fade-in">
    <main>
      <div
        class="flex flex-col md:grid md:grid-cols-6 items-start md:items-center justify-center gap-8"
      >
        <div
          class="h-24 w-24 rounded-full bg-gradient-to-r from-purple-600 to-blue-600"
        >
        </div>
        <div class="col-span-5">
          <PersonalBio />
          <div class="mt-2 flex items-center justify-start gap-2">
            <a
              href="https://github.com/jackblatch"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="rounded-md hover:bg-gray-100 p-2">
                <GithubIcon />
              </div>
            </a>
            <a
              href="https://twitter.com/jackblatch_"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="rounded-md hover:bg-gray-100 p-2">
                <TwitterIcon />
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <SectionBreak />
    <div class="flex flex-col gap-10 mt-10">
      <!-- <div>
        <Subheading text="Blog" />
        <BlogList />
      </div> -->
      <div>
        <Subheading text="Deployed Projects" />
        <ProjectList />
      </div>
      <ContactMe />
    </div>
  </div>
</Layout>
