---
import BlogList from "../components/BlogList.astro";
import ContactMe from "../components/ContactMe.astro";
import PersonalBio from "../components/PersonalBio.astro";
import ProjectList from "../components/ProjectList.astro";
import SectionBreak from "../components/SectionBreak.astro";
import Subheading from "../components/Subheading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jack - Software Developer">
  <div class="animate-fade-in">
    <main>
      <div
        class="flex flex-col md:grid md:grid-cols-6 items-start md:items-center justify-center gap-8"
      >
        <div
          class="h-24 w-24 rounded-full bg-gradient-to-r from-purple-600 to-blue-600"
        >
        </div>
        <div class="col-span-5">
          <PersonalBio />
        </div>
      </div>
    </main>
    <SectionBreak />
    <div class="flex flex-col gap-10 mt-10">
      <div>
        <Subheading text="Blog" />
        <BlogList />
      </div>
      <div>
        <Subheading text="Deployed Projects" />
        <ProjectList />
      </div>
      <ContactMe />
    </div>
  </div>
</Layout>
