---
import BlogList from "../components/BlogList.astro";
import Heading from "../components/Heading.astro";
import LinksList from "../components/LinksList.astro";
import ProjectList from "../components/ProjectList.astro";
import SectionBreak from "../components/SectionBreak.astro";
import Layout from "../layouts/Layout.astro";

const repos = await fetch("https://api.github.com/users/jackb14/repos", {
  headers: {
    authorization: `token ${import.meta.env.GITHUB_TOKEN}`,
  },
})
  .then((res) => res.json())
  .catch(() => []);
---

<Layout title="Jack - Software Developer">
  <div class="animate-fade-in">
    <main
      class="flex flex-col md:grid md:grid-cols-6 items-start md:items-center justify-center gap-8"
    >
      <div
        class="h-24 w-24 rounded-full bg-gradient-to-r from-purple-600 to-blue-600"
      >
      </div>
      <div class="col-span-5">
        <Heading text="I'm Jack, a Software Developer." />
        <p class="mt-2">
          I have a passion for learning new technologies and building
          applications. I thrive working in fast-paced environments, solving
          challenging problems and building high quality user experiences.
        </p>
      </div>
    </main>
    <SectionBreak />
    <div class="flex flex-col gap-10 mt-10">
      <BlogList />
      <ProjectList projects={repos} />
      <LinksList />
    </div>
  </div>
</Layout>
