---
import { getCollection } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

const allPosts = await getCollection("blog");
---

<section>
  <ul class="list-none md:grid md:grid-cols-2 gap-4 flex flex-col mt-3">
    {
      allPosts.map((post) => (
        <a href={`/blog/${post.slug}`} class="group">
          <CardWrapper>
            <article class="flex flex-col gap-2">
              <h4 class="text-lg font-medium line-clamp-1 group-hover:text-blue-700">
                {post.data.title}
              </h4>
              <p class="text-sm">{post.data.createdAt}</p>
            </article>
          </CardWrapper>
        </a>
      ))
    }
  </ul>
</section>
