---
import { getCollection } from "astro:content";
import CardWrapper from "./CardWrapper.astro";
import Subheading from "./Subheading.astro";
import ArrowSmallRightIcon from "./ArrowSmallRightIcon.astro";

const allPosts = await getCollection("blog");
---

<section>
  <Subheading text="Blog" />
  <ul class="list-none md:grid md:grid-cols-3 gap-4 flex flex-col mt-3">
    {
      allPosts.map((post) => (
        <a href={`/blog/${post.slug}`}>
          <article class="flex flex-col gap-2">
            <>
              <h4 class="text-lg font-medium line-clamp-3">
                {post.data.title}
              </h4>
            </>
            <p class="text-sm">{post.data.createdAt}</p>
          </article>
        </a>
      ))
    }
  </ul>
</section>
