---
import CardWrapper from "./CardWrapper.astro";
import Subheading from "./Subheading.astro";
---

<section>
  <Subheading text="Blog" />
  <CardWrapper href="#" title="Hello" body="Lorem ipsum" />
</section>
