---
import CardWrapper from "./CardWrapper.astro";
import Subheading from "./Subheading.astro";
---

<section>
  <Subheading text="Blog" />
  <ul class="mt-3">
    <CardWrapper><p class="italic">Coming soon</p></CardWrapper>
  </ul>
</section>
