---
import CardWrapper from "./CardWrapper.astro";
import Subheading from "./Subheading.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");
---

<section>
  <Subheading text="Blog" />
  <ul class="list-none grid grid-cols-2 gap-4 mt-3">
    {
      allPosts.map((post) => (
        <CardWrapper>
          <a href={post.url}>
            <article class="flex flex-col gap-4">
              <div>
                <h4 class="text-lg font-medium line-clamp-1">
                  {post.frontmatter.title}
                </h4>
                <p class="line-clamp-2">{post.frontmatter.description}</p>
              </div>
              <p class="text-sm">{post.frontmatter.createdAt}</p>
            </article>
          </a>
        </CardWrapper>
      ))
    }
  </ul>
</section>
