<li
  class="rounded-md border bg-gray-50 border-gray-300 list-none hover:bg-gradient-to-r from-purple-600 to-blue-600 p-[2px]"
>
  <div class="p-6 hover:border-gray-400 bg-gray-50 rounded-sm">
    <slot />
  </div>
</li>
