<p class="prose">
  See more on my <a
    href="https://github.com/jackblatch"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-blue-700">GitHub</a
  > or email me on 'hello' at this domain (<a href="/public-key.asc">PGP Key</a>).
</p>
