<p class="prose">
  See more on my <a
    href="https://github.com/jackblatch"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-blue-700">GitHub</a
  >, <a
    href="https://twitter.com/jackblatch_"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-blue-700">Twitter</a
  >, <a
    href="https://linkedin.com/in/jackblatch"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-blue-700">LinkedIn</a
  > or email me on 'hello' at this domain.
</p>
