---
import LinkListItem from "./LinkListItem.astro";
import Subheading from "./Subheading.astro";
---

<div>
  <Subheading text="Links" />
  <ul class="flex flex-col gap-2">
    <li><span class="font-medium">Email:</span> 'hello' at this domain</li>
    <LinkListItem
      href="https://github.com/jackblatch"
      displayLink="github.com/jackblatch"
      name="GitHub"
    />
    <LinkListItem
      href="https://linkedin.com/in/jackblatch"
      displayLink="linkedin.com/in/jackblatch"
      name="LinkedIn"
    />
  </ul>
</div>
