---
export interface Props {
  name: string;
  displayLink: string;
  href: string;
}

const { name, displayLink, href } = Astro.props;
---

<li>
  <span class="font-medium">{name}:</span>
  <a href={href} target="_blank" rel="noopener noreferrer" class="underline"
    >{displayLink}</a
  >
</li>
