---
export interface Props {
  name: string;
  link: string;
}

const { name, link } = Astro.props;
---

<li>
  <span class="font-medium">{name}:</span>
  <a href={link} target="_blank" rel="noopener noreferrer" class="underline"
    >{link}</a
  >
</li>
