<div
  class="flex items-center gap-6 justify-between bg-gray-100 rounded-full p-2 mx-auto mb-8 border border-gray-300 shadow sticky top-6 overflow-x-auto sm:overflow-hidden"
>
  <a href="/" class="hidden sm:flex sm:items-center sm:justify-start sm:gap-3">
    <div
      class="h-8 w-8 rounded-full bg-gradient-to-r from-purple-600 to-blue-600"
    >
    </div>
    <p class="text-lg font-medium">jackblatch</p>
  </a>
  <div class="flex items-center justify-center m-auto sm:ml-auto sm:mr-8 gap-8">
    <a href="/" class="prose hover:text-blue-700">Home</a>
    <a href="/projects" class="prose hover:text-blue-700">Projects</a>
    <a href="/blog" class="prose hover:text-blue-700">Blog</a>
  </div>
</div>
