---
import Heading from "./Heading.astro";
---

<div class="prose">
  <Heading text="@jackblatch" />
  <p class="mt-2 prose">
    Full-stack business minded software engineer working at fast paced startups. Advocate for privacy preserving technology, open source, right to repair and decentralised networks.
  </p>
</div>
