---
import Heading from "./Heading.astro";
---

<div class="prose">
  <Heading text="I'm Jack, a Software Developer." />
  <p class="mt-2 prose">
    I have a passion for learning new technologies and building applications. I
    thrive working in fast-paced environments, solving challenging problems and
    building high quality user experiences.
  </p>
</div>
