---
import CardWrapper from "./CardWrapper.astro";
import ProjectCardLink from "./ProjectCardLink.astro";

export interface Props {
  title: string;
  body: string;
  githubLink: string;
  deployedLink: string;
}

const { githubLink, deployedLink, title, body } = Astro.props;
---

<CardWrapper>
  <h4 class="font-medium">
    {title}
  </h4>
  <p>
    {body}
  </p>
  <div class="mt-4 flex items-center justify-start gap-4">
    <ProjectCardLink link={githubLink} text="GitHub" />
    <ProjectCardLink link={deployedLink} text="Visit" />
  </div>
</CardWrapper>
