---
import ProjectCard from "./ProjectCard.astro";
import Subheading from "./Subheading.astro";

export interface Props {
  projects: string[];
}

const { projects } = Astro.props;
---

<section>
  <Subheading text="Projects" />
  <h3 class="text-lg mb-4">Open Source Projects</h3>
  <ul class="md:grid md:grid-cols-2 gap-4 flex flex-col">
    {
      projects.map((project: any) => (
        <ProjectCard
          githubLink={project["html_url"]}
          deployedLink={project["homepage"]}
          title={project.name}
          body={project.description}
        />
      ))
    }
  </ul>
  <!-- <h3 class="text-lg mt-8 mb-4">Other Projects</h3> -->
</section>
