---
import ProjectCard from "./ProjectCard.astro";

const projects = await fetch("https://api.github.com/users/jackblatch/repos", {
  headers: {
    authorization: `token ${import.meta.env.GITHUB_TOKEN}`,
  },
})
  .then((res) => res.json())
  .then((json) =>
    json
      .filter((project: { homepage: unknown }) => {
        const homepage = String(project["homepage"]);
        return homepage.includes("seperi") || homepage.includes("jackblatch");
      })
      .sort((a: any, b: any) => b["stargazers_count"] - a["stargazers_count"])
  )
  .catch(() => []);
---

<section>
  <ul class="md:grid md:grid-cols-2 gap-4 flex flex-col mt-3">
    {
      projects.map((project: any) => (
        <ProjectCard
          githubLink={project["html_url"]}
          deployedLink={project["homepage"]}
          title={project.name}
          body={project.description}
          starCount={project["stargazers_count"]}
        />
      ))
    }
  </ul>
</section>
